<div class="f-controls">
  <div class="f-control f-global-control" data-f-toggle-control="labels" title="Toggle Labels">
    <div class="f-control-label">Labels</div>
    <svg>
      <use xlink:href="#f-icon-labels" />
    </svg>
  </div>
  <div class="f-control f-global-control" data-f-toggle-control="notes" title="Toggle Notes">
    <div class="f-control-label">Notes</div>
    <svg>
      <use xlink:href="#f-icon-notes" />
    </svg>
  </div>
  <div class="f-control f-global-control" data-f-toggle-control="code" title="Toggle Code">
    <div class="f-control-label">Code</div>
    <svg>
      <use xlink:href="#f-icon-code" />
    </svg>
  </div>
</div>
