<!-- fabricator menu -->
<div class="f-menu">

  {{> f-controls}}

  <ul>

    <li>
      <a href="index.html" class="f-menu__heading">Overview</a>
      <ul>
        <li>
          <a href="index.html#intro">Intro</a>
        </li>
        <li>
          <a href="index.html#purpose">Purpose</a>
        </li>
        <li>
          <a href="index.html#benefits">Benefits</a>
        </li>
        <li>
          <a href="index.html#use">Usage</a>
        </li>
        <li>
          <a href="index.html#improve">Improvements</a>
        </li>
      </ul>
    </li>

    {{#each materials}}
    <li>
      <a href="{{@key}}.html" class="f-menu__heading">{{name}}</a>
      <ul>
        {{#each items}}
        <li>
          <a href="{{@../key}}.html#{{@key}}">{{name}}</a>
        </li>
        {{/each}}
      </ul>
    </li>
    {{/each}}

    {{#each views}}
    <li>
      <a href="{{@key}}.html" class="f-menu__heading">{{name}}</a>
      <ul>
        {{#each items}}
        <li>
          <a href="{{@../key}}/{{@key}}.html" target="_blank">{{name}}</a>
        </li>
        {{/each}}
      </ul>
    </li>
    {{/each}}

  </ul>


</div>
<!-- /fabricator menu -->
